PORT=34080
NODE_ENV=production
STUDENT_NAME=Le Phi Hung
STUDENT_ID=23IT095
STUDENT_MSSV_LAST3=095
STUDENT_MSSV_LAST1=4
VAT_RATE=9
DB_NAME=DB_23IT095
MONGODB_READ_URI=mongodb+srv://reader_23IT095:pass_read_here@acluster1.7bnfwvl.mongodb.net/DB_23IT095?retryWrites=true&w=majority
MONGODB_WRITE_URI=mongodb+srv://writer_23IT095:pass_write_here@acluster1.7bnfwvl.mongodb.net/DB_23IT095?retryWrites=true&w=majority
SESSION_SECRET=session_secret_key_32_bytes_hex